* {
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    height: 100px;
}

 #grid {
    width: 100%;
    background-color: lightblue;
    text-align: center;

}

/* #grid > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
} */

.cell {
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
  } */



.cell {
    border: 1px solid black;
}

#action {
    padding: 40px;
    display: block;
    text-align: center;
}


.footer {
position: fixed;
   left: 0;
   bottom: 0;
   height: 100px;
   width: 100%;
   background-color: lightblue;
   color: black;
   text-align: center;
}